/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
/*headings (h1, h2, h3) will use the color Queen Blue (#33658A)
The paragraph will use the black color
The background will use white or Dark Sky Blue (#86BBD8) 
The menu will use the colors Cyber Yellow (#FFD400) and Queen Blue (#33658A)*/

main {
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
	padding: 1em;
}

body {
	margin: 0 auto;
	padding: 1em;
}

.logo-title {
	display: flex;
	padding: 10px;
	background-color: #86BBD8;
}

.logo-title h1 {
	margin-left: 185px;
	position: absolute;
	color: white;
	font-size: 2rem;
}

.logo-title h2 {
	align-items: left;
	margin-top: 80px;
	margin-left: 20px;
	color: white;
	font-size: 1.5rem;
}

.menu-flex, footer {
	display: flex;
	background-color: #33658A;
	;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.navigation li:first-child {
	display: none;
}

nav {
	line-height: 3em;
	text-align: center;
	font-size: 1.2em;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a {
	padding: 1em;
	min-width: 70px;
	text-decoration: none;
}

nav a:link, nav a:visited {
	color: white;
}

nav a:hover {
	color: black;
	background-color: #FFD400;
}

h1, h2, h3, p, li, footer, span {
	font-family: 'Noto Sans JP', sans-serif, Arial, Helvetica, sans-serif;
}

.preston {
	text-align: center;
	color: #33658A;
}

.hero-ph img {
	margin: 10px auto;
	border: 1px solid white;
	width: 100%;
	height: 250px;
}

.hero-div {
	position: relative;
	margin: 10px auto;
}

table {
	font-family: 'Noto Sans JP', sans-serif, Arial, Helvetica, sans-serif;
	margin: 0 auto;
	background-color: #86BBD8;
	border-radius: 10px;
	border: 5px solid white;
}

thead {
	background-color: #33658A;
	color: white;
	border-radius: 10px;
}

.article {
	display: flex;
}

.article-paragraph {
	float: right;
	text-align: justify;
	margin-top: 30px;
	line-height: 25px;
}

.article-img {
	width: 430px;
	height: 450px;
	margin-top: 50px;
	margin-left: 20px;
}

img {
	width: 150px;
	height: 150px;
	margin-left: 15px;
	border-radius: 10px;
}

footer {
	flex-direction: column;
	background-color: #33658A;
	text-align: center;
	margin-top: 15px;
	padding: 0;
	padding-bottom: 10px;
	color: white;
}

footer a {
	color: white;
	text-align: center;
}

footer a:hover {
	color: black;
	text-align: center;
}

.cards {
	display: grid;
	padding: 5px;
}

.cards section {
	background-color: #86BBD8;
	margin: 10px;
	padding: 10px;
}

.cards {
	background-color: #33658A;
}

@media only screen and (min-width: 1021px) {
	.menu-flex ul {
		display: flex;
	}
	.weather-summary {
		position: absolute;
		top: 18px;
		left: 40px;
		background-color: rgba(240, 240, 240, 0.8);
		width: 20%;
		padding-left: 30px;
	}
	.contact {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.map img {
		width: 500px;
		height: 300px;
		margin-left: 100px;
	}
	.social {
		width: 60px;
		height: 60px;
	}
	.cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.cards img {
		width: 80%;
		height: 40%;
	}
}

@media only screen and (max-width: 767px) {
	.forecast thead {
		display: none;
		float: center;
	}
	table {
		display: none;
	}
	footer, .logo-title {
		display: flex;
		width: 100%;
	}
	.navigation li:first-child {
		display: block;
	}
	.navigation li {
		display: none;
	}
	.navigation a {
		display: block;
	}
	.responsive li {
		display: block;
	}
	footer, header {
		margin-right: 25px;
	}
	.menu-flex {
		margin-right: -20px;
	}
	h1 {
		text-align: left;
		margin-right: 8px;
		margin-top: 2px;
	}
	img {
		align-items: center;
		margin-top: 25px;
	}
	h2 {
		padding-top: 50px;
		margin-right: 22px;
	}
	.preston {
		display: none;
	}
	.hero-div {
		display: block;
	}
	.weather-summary {
		display: block;
	}
	.information {
		margin-top: -50px;
	}
	.article {
		display: block;
	}
	.article-img {
		display: block;
		width: 90%;
		height: 150%;
	}
	.map {
		display: block;
		width: 100%;
	}
	.social {
		display: inline;
		width: 20%;
		height: 20%;
		align-items: center;
	}

	/*wireframe*/
	.desktop, .mobile, .tablet {
		width: fit-content;
		height: fit-content;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
	.logo-title {
		display: flex;
	}
	.navigation li:first-child {
		display: block;
	}
	.navigation li {
		display: none;
	}
	.navigation a {
		display: block;
	}
	.responsive li {
		display: block;
	}
	footer {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.hero-div, .article, .article-img, .map img {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.weather-summary {
		display: block;
		background-color: #86BBD8;
	}
	.forecast {
		width: 100%;
		height: 100%;
	}
	.social {
		width: 60px;
		height: 60px;
	}
	.cards {
		grid-template-columns: 1fr 1fr;
	}
	.cards img {
		width: autofit;
		height: autofit;
	}
	.map {
		width: 5 0%;
		display: block;
	}
}